<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Demo</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./styles.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>
<body ng-app="MyApp">
<img class="logo" src="./statics/logo.svg" alt="AngularJS">

<div class="app" ng-controller="MainCtrl">

  <h1>Products</h1>
  <div>
    Additional Discount: <input type="number" min="0" max="100" step=5 ng-model="additionalDiscount"/> %
  </div>
  <div class="products">
    <product-card
      ng-repeat="product in products track by product.name"
      product="product"
      additional-discount="additionalDiscount / 100"
      add-to-cart="addToCart"
    ></product-card>
  </div>

</div> <!-- .app -->

<!-- directive templates -->

<!-- price DIRECTIVE -->
<script type="text/ng-template" id="price.html">
  <span>{{trace(formattedPrice)}}</span>
</script>


<!-- discountTag DIRECTIVE -->
<script type="text/ng-template" id="discountTag.html">
  <div class="discount-tag" ng-if="discount !== 0">{{trace(discount * 100)}}%</div>
</script>


<!-- productCard DIRECTIVE -->
<script type="text/ng-template" id="productCard.html">
  <div class="product-card">
    <div class="description">
      <div class="name">{{trace(product.name)}}</div>
      <div class="brand">{{product.brand}}</div>
      <div class="price--original" ng-if="isDiscounted(product)">
        <price price="product.price"></price>
      </div>
      <div class="price">
        <price price='finalPrice'></price>
      </div>
      <button class="nice-button" ng-click="addToCart()(product)">Add to Cart</button>
    </div>
    <div class="img">
      <discount-tag class="discount" discount="product.discount"></discount-tag>
      <img ng-if="product.img" ng-src="{{product.img}}" alt="{{product.name}}"/>
    </div>
  </div>
</script>






<script src="./node_modules/angular/angular.js"></script>
<script>







  var app = angular.module('MyApp', []);

  //
  // directive productCard
  //
  app.directive('productCard', function () {
    return {
      restrict: 'E',
      scope: {
        product: '<',
        additionalDiscount: '<',
        addToCart: '&',
      },
      templateUrl: 'productCard.html',
      link: function (scope) {

        scope.finalPrice = 0;

        scope.$watchGroup(['product.discount', 'product.price', 'additionalDiscount'], function () {
          var effectiveDiscount = scope.product.discount + scope.additionalDiscount;
          scope.finalPrice = scope.product.price * (1 - effectiveDiscount);
          console.log('calculating finalPrice for', scope.product.name);
        });

        scope.isDiscounted = function (product) {
          return product.discount !== 0 || scope.additionalDiscount !== 0;
        };

        scope.trace = function (s) {
          console.log('evaluating ProductCard', s);
          return s;
        };

      },  // end of link()
    };
  });


  //
  // directive price
  //
  app.directive('price', function () {
    return {
      restrict: 'E',
      scope: {
        price: '<',
      },
      templateUrl: 'price.html',
      link: function (scope) {

        scope.$watch('price', function () {
          scope.formattedPrice = scope.price.toLocaleString('es-ES', {
            style: 'currency',
            currency: 'EUR',
            currencyDisplay: 'symbol',
          });
        });

        scope.trace = function (s) {
          console.log('evaluating Price', s);
          return s;
        };

      }, // end of link()
    };
  });


  //
  // directive discountTag
  //
  app.directive('discountTag', function () {
    return {
      restrict: 'E',
      scope: {
        discount: '<',
      },
      templateUrl: 'discountTag.html',
      link: function (scope) {

        scope.trace = function (s) {
          console.log('evaluating DiscountTag', s);
          return s;
        };

      }, // end of link()
    };
  });


  //
  // controller MainCtrl
  //
  app.controller('MainCtrl', function ($scope) {

    $scope.additionalDiscount = 0;
    $scope.products = [
      {name: 'XMax X10 2018', brand: 'Salomon',    price:  720.0, discount: 0,    img: 'statics/ski-atomic-rojo.png'      },
      {name: 'Magnum',        brand: 'Head',       price:  650.0, discount: 0.2,  img: 'statics/ski-head-verde.png'       },
      {name: 'Amphibio XII',  brand: 'Elan',       price: 1250.0, discount: 0.15, img: 'statics/ski-elan-amphibio.png'    },
      {name: 'Vector Edge',   brand: 'Salomon',    price:  350.0, discount: 0.50, img: 'statics/bota-salomon-amarillo.png'},
      {name: 'Fogbreaker',    brand: 'CrazyCreek', price:   35.0, discount: 0.0,  img: 'statics/gafas-verde.png'          },
    ];

    $scope.addToCart = function (product) {
      alert(`added ${product.name}`);
    };

  });








</script>
</body>
</html>
