<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
</head>
<body ng-app="MyApp">
	<div ng-controller="MainCtrl">
		Hello {{greeting}}!
		(counter: {{counter}})
		<span>(doubleCounter: {{doubleCounter}})</span>
		(tripleCounter: {{tripleCounter}})
		(unrelated: {{unrelated}})
		<button ng-click="increment()">increment</button>
		<button ng-click="incrementUnrelated()">increment unrelated</button>
	</div>

	<script src="./node_modules/angular/angular.js"></script>
	<script>
		
		var app = angular.module('MyApp', []);

		app.controller('MainCtrl', function($scope) {

			$scope.greeting = "World";
			$scope.counter = 0;
			$scope.unrelated = 0;

			$scope.increment = function() {
				$scope.counter += 1;
			};

			$scope.incrementUnrelated = function() {
				$scope.unrelated += 100;
			};

			$scope.$watch('counter', function() {
				$scope.doubleCounter = $scope.counter * 2;
			});

			$scope.$watch(function() {
				console.log("checking doubleCounter with value", $scope.doubleCounter);
				return $scope.doubleCounter;	
			}, function() {
				console.log("updating tripleCounter");
				$scope.tripleCounter = $scope.doubleCounter * 3;
			})

		});

	</script>
</body>
</html>
