<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body ng-app="MyApp">
<div ng-controller="MainCtrl">
    counter: {{counter}}
    doubleCounter: {{doubleCounter}}
    <button ng-click="increment()">increment</button>
    <the-counter counter='counter'></the-counter>
</div>

<script src="./node_modules/angular/angular.js"></script>
<script>

    var app = angular.module('MyApp', []);

    app.directive('theCounter', function () {
        return {
            scope: {
                counter: '=',
            },
            template: `
                <div>
                    {{counter}}
                    <button ng-click="decrement()">decrement</button>
                </div>`,
            link(scope, el, attr) {
                scope.decrement = function() {
                    scope.counter -= 1;
                };
            },
        };
    });

    app.controller('MainCtrl', function ($scope) {

        $scope.counter = 0;

        $scope.increment = function () {
            $scope.counter += 1;
        };

        $scope.$watch('counter', function () {
            $scope.doubleCounter = $scope.counter * 2;
        });

    });

</script>
</body>
</html>
